body {
  font-family: "Helvetica Neue", sans-serif;
}

.movies {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 90%;
  max-width: 500px;
  border: 1px solid #999;
  margin: 50px auto 50px;
}

.form,
.movie-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 20px;
}

.form-item {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.error-message {
  color: #900;
}

.search-button {
  flex: 0 0 auto;
}
